@{
    ViewData["Title"] = "Async Web Demo Home Page";
}

<div class="text-center">
    <h1 class="display-4">Async Web Demo</h1>
    <p>More information about <a target="_blank" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
